body {
margin-top: 10px;
}
.btn-watch {
margin-top: 25px;
background: red;
padding: 12px 30px;
color: white;
border-radius: 30px;
font-size: 20px;
text-decoration: none;
}
.movies-page {
padding: 30px;
}
.movies-title {
font-size: 32px;
margin-bottom: 20px;
}
.movies-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
gap: 20px;
}
.movie-card {
background: #111;
border-radius: 10px;
overflow: hidden;
transition: 0.3s;
}
.movie-card:hover {
transform: scale(1.05);
}
.movie-img {
width: 100%;
height: 250px;
object-fit: cover;
}
.movie-details {
padding: 10px;
}
.movie-title {
font-size: 16px;
font-weight: bold;
margin-bottom: 5px;
}
.movie-year {
font-size: 14px;
color: #aaa;
}
.movie-overview {
font-size: 12px;
color: #777;
margin-top: 5px;
height: 40px;
overflow: hidden;
}
.movie-pop {
margin-top: 10px;
color: red;
font-size: 14px;
}